# Ignore these pythonisms
__pycache__/
*.pyc
# Vim backup file
*.swp
.idea/*
pkg/*
src/*
packages/*
# Stuff in debian we should not worry about
/debian/zsnapd/
/debian/*.debhelper*
/debian/*.substvars
/debian/files
/debian/debhelper-build-stamp
