[Unit]
Description=ZFS Snapshot Daemon

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/zsnapd --systemd
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
